@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-1: #1e293b;
  --bg-2: #0f172a;
  --bg-3: #334155;
}

::selection {
  background-color: rgb(37, 235, 136);
  color: var(--bg-1);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-1);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-3);
  border-radius: 10px;
}
